<div class="tool">
<div class="game_gallery">
  <div class="carrousel_title">
    <p class="carrousel_title_text"> Game Gallery </p>
  </div>
  <div class="carrousel_wrapper">
    <div id="games_carrousel">
  </div>
  </div>
  <div class="data">
    <img id="game_preview"/>
    <p id="game_description"></p>
  </div>
</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	SGAME_WEB.initGallery();
});
</script>