<div class="tool">
<div class="game_gallery">
  <div class="carrousel_title">
    <p class="carrousel_title_text"> Game Gallery </p>
  </div>
  <div class="carrousel_wrapper">
    <div id="games_carrousel">
  </div>
  </div>
</div>
<img src="/assets/close.png" style="display:none" id="closeGameIframe" />
<iframe id="gameInstance" src='' width="100%"; height="820px"></iframe>
</div>

<script type="text/javascript">
$(document).ready(function(){
	SGAME_WEB.initGallery();
});
</script>