<!--Hidden link for fancybox-->
<a id="upload_scorm" href="/scorm_file/new" sytle="display:none"></a>

<div class="tool">
<img src="/assets/plus.png" class="plus" />
<div class="create"><p>Create</p></div>
<div class="game">
  <div class="carrousel_title">
    <p class="carrousel_title_text"> choose game </p>
  </div>
  <div class="carrousel_wrapper">
    <div id="games_carrousel">
  </div>
  </div>
  <div class="data">
    <img id="game_preview"/>
    <p id="game_description"></p>
  </div>
</div>
<div class="content">
  <div class="carrousel_title">
    <p class="carrousel_title_text"> choose SCORM package</p>
  </div>
  <div class="carrousel_wrapper">
    <div id="lo_carrousel">
  </div>
  </div>
  <div class="data">
    <ul id="lo_list">
<!--               <li>
        <div class="lo_preview_wrapper">
          <img class="lo_preview" src="/assets/scorm_nano.png" />
        </div>
        <div class="lo_description_wrapper">
          <p class="lo_description"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
          </p>
        </div>
        <div class="remove_wrapper">
          <img class="remove" src="/assets/remove.png" />
        </div>
      </li>
      <li>
        <div class="lo_preview_wrapper">
          <img class="lo_preview" src="/assets/scorm_maths.png" />
        </div>
        <div class="lo_description_wrapper">
          <p class="lo_description"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
          </p>
        </div>
        <div class="remove_wrapper">
          <img class="remove" src="/assets/remove.png" />
        </div>
      </li> -->
    </ul>
  </div>
</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
  SGAME_WEB.init();
});
</script>