<!--Hidden link for fancybox-->
<div id="hidden_for_fancy" sytle="display:block">
  <a id="upload_scorm" href="/scorm_file/new" ></a>
</div>

<div class="tool">
<img src="/assets/plus.png" class="plus" />

<div class="game">
  <div class="carrousel_title">
    <p class="carrousel_title_text"> choose game </p>
  </div>
  <div class="carrousel_wrapper">
    <div id="games_carrousel">
  </div>
  </div>
  <div class="data">
    <img id="game_preview"/>
    <p id="game_description"></p>
  </div>
</div>
<div class="content">
  <div class="carrousel_title">
    <p class="carrousel_title_text"> choose SCORM package</p>
  </div>
  <div class="carrousel_wrapper">
    <div id="lo_carrousel">
  </div>
  </div>
  <div class="data">
    <ul id="lo_list">
    </ul>
  </div>
</div>
<div id="create_form_div" class="create">
  <form id="create_form" action="/game" method="post">
    <input name="authenticity_token" value="<%= form_authenticity_token%>" type="hidden"></input>
    <input type="hidden" name="g_template_id" id="g_template_id" value="dfd"></input>
    <input type="hidden" name="scorms_ids" id="scorms_ids" value="dfdf"></input>
    <p>Create</p>
  </form>
</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
  SGAME_WEB.init();
});
</script>