<html>
<head>
	<script src="/assets/application.js"></script>
	<title><%=@game.name%></title>
</head>
<body>
<script>
	var settings = JSON.parse('<%=@settings.to_json.html_safe%>');

	$(document).ready(function(){
		$("#game").load(function(){
			try {
				document.getElementById("game").contentWindow.SGAME.loadSettings(settings);
			} catch (e){ }
		});
	});
</script>
<iframe id="game" src='<%=@template_url%>' width="99.8%"; height="97%"></iframe>
</body>