<html>
<head>
</head>
<body>



<iframe id="lo" src='<%="/scorm/"+@lo.scorm_file_id.to_s+"/"+@lo.scorm_file.source_file_name[0..@lo.scorm_file.source_file_name.length-5]+"/"+@lo.href%>' width="100%"; height="800px"></iframe>


</body>
