/** Remove outlines (Bootstrap fix for all browsers, specially Firefox) **/
* {
    outline: none;
}

a, a:focus {
   outline: none;
}

input::-moz-focus-inner { 
  border: 0; 
}


/*
 * SGAME CSS
 */

body {
  background: #046598;
  color: white;
  font-family: Helvetica, Serif;
}

.header{
  width: 1100px;
  height: 90px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.logo_wrapper{
  margin-left: 0%;
  width: 20%;
  float: left;
}

img.logo {
  width: 100%;
}

.description_wrapper{
  margin-left: 10%;
  margin-right: 10%;
  width: 40%;
  float: left;
}

.description{
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
}

.gallery_wrapper{
  width: 19%;
  float: left;
}

.gallery_wrapper:hover{
  width: 20%;
  float: left;
}

.gallery{
  width: 100%;
}

.tool {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  height: 637px;
}

.game {
  width: 540px;
  height: 100%;
  float: left;
  margin-right: 20px;
}

.game_gallery{
  width: 1100px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.content {
  background: blue;
  width: 540px;
  height: 100%;
  float: left;
}

.carrousel_title{
  width: 100%;
  background: black;
}

.carrousel_title_text{
  color: white;
  font-size: 15px;
  text-align: center;
  padding: 5px;
}

.plus {
  width: 50px;
  position: absolute;
  top: 510px;
  left: 50%;
  margin-left: -25px;
}

#closeGameIframe{
  width: 24px;
  position: absolute;
  top: 382px;
  left: 50%;
  margin-left: 532px;
}

.carrousel_wrapper{
  height: 160px;
  background: rgba(255, 255, 255, 0.2);
  padding-bottom: 9px;
  padding-left: 5px;
}

.data{
  margin-top: 15px;
  height: 300px;
  text-align: center;
}

.game {
  text-align: center;
  background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(0,0,0,0.1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(0,0,0,0.1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1a000000',GradientType=1 ); /* IE6-9 */
}

.content {
  background: -moz-linear-gradient(left,  rgba(0,0,0,0.1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0.1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(0,0,0,0.1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(0,0,0,0.1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(0,0,0,0.1) 0%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

#game_preview{
  min-width: 400px;
  min-height: 300px;
  max-width: 400px;
  max-height: 300px;
}

#game_description{
  padding: 5px;
  padding-top: 10px;
  font-size: 15px;
  text-align: center;
  font-family: Helvetica;
  overflow: hidden;
  /*text-overflow: ellipsis;*/
  max-height: 34px;
}


ul#lo_list {
  list-style-type: none;
  margin-left: 35px;
}

ul#lo_list li {
    display: block;
    min-height: 100px;
    margin-top: 20px;
}


.lo_preview_wrapper{
  float:left;
  width: 120px;
}

.lo_preview{
  max-width: 120px;
  max-height: 100px;
  cursor: pointer;
}

.lo_description_wrapper{
  float:left;
  max-width: 345px;
  min-width: 345px;
  padding:5px;
  vertical-align: middle;
  text-align: left;
}

.lo_description{
  padding: 5px;
  padding-top: 10px;
  font-size: 15px;
  vertical-align: middle;
}

.lo_number{
  padding-left: 5px;
}

.remove_wrapper{
  float:left;
  max-width: 25px;
  cursor: pointer;
  margin-left: 5px;
}

.remove{
  min-width: 30px;
  margin-top: 10px;
  margin-left: 5px;
}

.create{
  width: 100px;
  height: 30px;
  background: #046598;
  position: absolute;
  top: 710px;
  left: 50%;
  margin-left: -60px;
  font-size: 20px;
  text-align: center;
  color: white;
  padding: 5px;
  border: 3px solid white;
  cursor: pointer;
}

.create:hover{
  font-size: 24px;
}

.create > p {
  margin-top: 5px;
}

#fancybox-content{
}

#form_scorm_wrapper{
  background: white;
  color: black;
}

#form_scorm_title{
  font-size: 30px;
  margin: 30px;
}

#form_scorm{
  margin-left: 30px;
}

#form_scorm label{
  font-size: 15px;
}

#game_fancybox {
color: black;
}

#form_game_title {
font-size: 30px;
margin: 30px;
}

#create_form{
  margin-left: 30px;
  font-size: 15px;
}

.game_form_span{
  margin-left: 0px;
  font-weight: bold;
}

/*to modify fancybox behaviour*/
#fancybox-title {
  z-index: 1000; /*to be behind arrows*/
}

#fancybox-left, #fancybox-right {
  height: 30px;
}

#fancybox-left span{
  left: 20px;
}

#fancybox-right span{
  right: 20px;
  left: auto;
}

#fancybox-left-ico, #fancybox-right-ico{
  width: 29px;
}

#gameInstance{
  border: none;
  border-style: none;
}

#create_form_div{
  line-height: 0px;
}

p.createButton{
  margin-top: 14px;
}